<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrc.board.controller.BoardMapper">
	<!-- 게시판조회-->
	<select id="boardListData" parameterType="BoardVO" resultType="BoardVO">
		SELECT *
        FROM (
            SELECT
                ROWNUM RNUM
                , A.*
            FROM (

              		SELECT 
              			ROW_NUMBER() OVER (ORDER BY BOARD_NO DESC) AS  rowNumber 	
             	 		,BOARD_NO as boardNo
						,INQ_TITLE as inqTitle
						,VIEW_CNT AS viewCnt
						,INQ_MEM_EMAIL AS inqMemEmail
						,MI.NIC_NAME AS nicName
						,TO_CHAR(INQ_REG_DT ,'YYYY-mm-dd') as inqRegDt
            		FROM QA_BOARD QB,MEM_INFO MI
					WHERE QB.INQ_MEM_EMAIL = MI.EMAIL
					AND INQ_USE_YN = 'Y'
                    ORDER BY  rowNumber DESC
                  ) A
            WHERE #{end}>= ROWNUM
        )
        WHERE RNUM >= #{start}
	  </select>
   
   <!-- 총페이지 -->
   <select id="boardTotalPage" resultType="int">
      SELECT CEIL(COUNT(*)/10) FROM QA_BOARD
   </select>
	
	<!--댓글,상세조회  -->
	<select id="boardDetailInfo" parameterType="int" resultType="BoardVO">
		SELECT 
			INQ_TITLE as inqTitle
			,INQ_CONTENT as inqContent
			,TO_CHAR(INQ_REG_DT,'YYYY-MM-DD') as inqRegDt
			,ANS_CONTENT as ansContent
			,ANS_MEM_EMAIL as ansMemEmail
			,INQ_MEM_EMAIL as inqMemEmail
			,TO_CHAR(ANS_REG_DT,'YYYY-MM-DD') as ansRegDt
			,ANS_USE_YN as ansUseYn
			,MI.NIC_NAME  AS nicName
		FROM QA_BOARD QB, 	MEM_INFO MI
		WHERE QB.INQ_MEM_EMAIL = MI.EMAIL
		AND BOARD_NO = #{boardNo}
		ORDER BY ANS_REG_DT DESC
	</select>
	
	<!--게시판등록  -->
	<insert id="insertBoardInq" parameterType="BoardVO">
		INSERT INTO QA_BOARD(BOARD_NO,INQ_TITLE,INQ_CONTENT,INQ_REG_DT,INQ_MEM_EMAIL,VIEW_CNT,INQ_USE_YN)
		VALUES(BOARD_SEQ.nextVal,#{inqTitle},#{inqContent},sysdate,#{inqMemEmail},0,'Y')
	</insert>
	
	<!--게시판등록  -->
	<insert id="insertBoardAns" parameterType="BoardVO">
		UPDATE QA_BOARD
		SET 
			ANS_CONTENT = #{ansContent}
			,ANS_MEM_EMAIL = #{ansMemEmail}
			,ANS_REG_DT = SYSDATE
			,ANS_USE_YN  ='Y'
		WHERE BOARD_NO = #{boardNo}
	</insert>
	
	<!--게시판삭제  -->
	 <update id="deleteBoard" parameterType="BoardVO"> 
		UPDATE QA_BOARD
		SET
		<choose>
			<when test="flag == 'inq'">
				 INQ_USE_YN = 'N' 
					,INQ_DEL_DT = SYSDATE
			</when>
			<otherwise>
				 ANS_USE_YN = 'N'
				 ,ANS_DEL_DT = SYSDATE
			</otherwise>
		</choose>
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="updateViewCnt" parameterType="int">
		UPDATE QA_BOARD
		SET
		    VIEW_CNT = (select ((SELECT VIEW_CNT FROM QA_BOARD WHERE BOARD_NO = #{boardNo}) +1) from dual) 
		WHERE BOARD_NO = #{boardNo}
	</update> 
</mapper>