<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrc.mapper.GameMngMapper">
	<!-- 뉴스 표시 -->
	<select id="gameMngListData" resultType="RankVO">
		SELECT 
			GAME_NO as gameNo
			,GAME_NAME as gameName
			,GAME_EXP as gameExp
		FROM GAME_INFO 
		WHERE USE_YN ='Y'
	</select>
		<!-- 뉴스 표시 -->
</mapper>