<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrc.mapper.MemberMapper">
	
	<select id="emailCheck" parameterType="String" resultType="int">
		SELECT count(*)
		FROM MEM_INFO
		WHERE EMAIL = #{email}
	</select>
	<select id="nic_NameCheck" parameterType="String" resultType="int">
		SELECT count(*)
		FROM MEM_INFO
		WHERE nic_name = #{nic_Name}
	</select>
	<select id="passwordCheck" parameterType="String" resultType="MemberVO">
		SELECT email,pwd,nic_name,phone,mem_grd_code,reg_dt,mod_dt,use_yn FROM
		MEM_INFO
		WHERE email = #{email}
	</select>
	<insert id="inserMemberInfo" parameterType="MemberVO">
		insert into mem_info
		(
		email, pwd, nic_name, phone, mem_Grd_Code, reg_Dt, mod_Dt, use_YN
		)
		values
		(
		#{email},#{pwd},#{nic_Name},#{phone},'001',sysdate,sysdate,'Y'
		)
	</insert>
	<!-- <insert id="replyNewInsert" parameterType="NewsReplyVO"> <selectKey 
		keyProperty="no" resultType="int" order="BEFORE"> SELECT NVL(MAX(no)+1,1) 
		as no FROM news_reply </selectKey> INSERT INTO news_reply(no,bno,id,name,msg) 
		VALUES(#{no},#{bno},#{id},#{name},#{msg}) </insert> <update id="replyUpdate" 
		parameterType="NewsReplyVO"> UPDATE news_reply SET msg=#{msg} WHERE no=#{no} 
		</update> <delete id="replyDelete" parameterType="int"> DELETE FROM news_reply 
		WHERE no=#{no} </delete> -->
	<update id="memberUpdate" parameterType="MemberVO">
		UPDATE mem_info
		SET
		nic_Name =#{nic_Name},email=#{email},pwd=#{pwd},phone=#{phone}
		WHERE
		email = #{email}
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="deleteMember" parameterType="java.util.Map">
		UPDATE 
			MEM_INFO
		SET
			USE_YN = #{useYn}
		WHERE
			EMAIL = #{email}			
	</update>
	
	<!-- 회원정보 조회 -->
	<select id="getMemberList" resultType="MemberVO">
		SELECT 
			MI.* 
		FROM MEM_INFO MI, CODE_INFO CI 
		WHERE
			MI.MEM_GRD_CODE = CI.CODE 
	</select>
	<select id="searchResult" resultType="MemberVO" parameterType="String">
		select * from MEM_INFO where email like '%'||#{searchKey}||'%'
	</select>
</mapper>