<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- XML = type(클래스 선언) -->
		
		<typeAlias type="com.mrc.board.controller.BoardVO" alias="BoardVO" />
		<typeAlias type="com.mrc.member.controller.MemberVO" alias="MemberVO" />
		<typeAlias type="com.mrc.rank.controller.RankVO" alias="RankVO" />
		<typeAlias type="com.mrc.gamemng.controller.GameMngVO" alias="GameMngVO" />
	</typeAliases> 
	<!-- "(environment)+" -->
	<environments default="development">
		<!-- (transactionManager,dataSource) -->
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@70.12.110.99:1521:xe" />
				<property name="username" value="tommy" />
				<property name="password" value="lion" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- PreparedStatement,ResultSet --> 		
  		<mapper resource="com/mrc/mapper/BoardMapper.xml" />
  		<mapper resource="com/mrc/mapper/RankMapper.xml" />
  		<mapper resource="com/mrc/mapper/GameMngMapper.xml" />
  		<mapper resource="com/mrc/mapper/MemberMapper.xml" />
	</mappers>
</configuration>





